
[user]
	name = "Luc Hayward"
	email = luchay@amazon.com

[color]
	ui = auto

# [push]
# 	default = simple

[core]
	# pager = delta --color-only # https://github.com/dandavison/delta
    pager = less -FMRiX
	excludesfile = /Users/luchay/.config/git/excludes
    # editor = subl -nw


[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order --all
    last = log -1 HEAD
    co = checkout
    # See changelist for one file across renames https://stackoverflow.com/a/5493663/14555505
    history = log --follow --stat -p --
    yolo = !git add -A && git commit -m \"¯\\_(ツ)_/¯ $(curl --silent --fail https://whatthecommit.com/index.txt)\" && git fetch origin && git push origin HEAD
    uncommit = !git reset --soft HEAD^

# [rerere]
#     enabled = 1

# You might want a commit template like https://github.com/beyarkay/dotfiles/blob/main/.gitmessage
# [commit]
# 	template = ~/.gitmessage

# [pull]
# 	rebase = true

# [rebase]
#     # Make the rebase command stashes before running, and pops after running
#     autoStash = true

# [init]
#     defaultBranch = main

# [merge]
#     ff = only
# [credential "https://github.com"]
#     helper = 
#     helper = !gh auth git-credential
# [credential "https://gist.github.com"]
#     helper = 
#     helper = !gh auth git-credential



[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
